<!-- 3.1 twig -->
<html>
<head>
  {% block title none|include_title %}
  {{none|include_http_metas}}
  {{none|include_metas}}
  <link href="templates/3.1/css/css.css" rel="stylesheet" type="text/css">
  <link href="templates/base/css/base.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#97A8AF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="723" height="227" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="border">
  <tr>
    <td width="506" height="106" align="left"><table width="100%" height="106"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="251" colspan="2" background="templates/3.1/images/sub_top.jpg" style="background-repeat:no-repeat">&nbsp;</td>
      </tr>
    </table></td>
    <td width="217" align="right"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="13%">&nbsp;</td>
        <td width="82%">
          <div class="firmName">{{website.firmName|break}}</div>
        </td>
        <td width="5%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
   <tr>
<td colspan="3" background="templates/3.1/images/menu_bg.jpg">
  <table width="" border="0" cellpadding="8" cellspacing="0">
  {% for loop_page in website.mainMenu %}
    {# This is the highlighted menu tab #}
	{% if loop_page.url == page.url %}
      <td background="templates/3.1/images/menu_bg_rollover.jpg" align="center" valign="bottom" height="48">
		<strong><a class="menutext" href="{{loop_page.url}}">{{loop_page.linkName}}</a></strong>
      </td>
    {% else %}
	{# These are the regular menu tabs #}
      <td  align="center" valign="bottom" height="48">
		<strong><a class="menutext" href="{{loop_page.url}}">{{loop_page.linkName}}</a></strong>
      </td>
    {% endif %}
  {% endfor %}
  </table>
</td>
</tr>
  <tr>
    <td height="19" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="4%" height="38" valign="bottom">&nbsp;</td>
          <td valign="bottom"><span class="slogan">{{page.title}}</span></td>
        </tr>
        <tr>
          <td height="9" colspan="2"><img src="templates/3.1/images/clear.gif" width="1" height="9"></td>
        </tr>
        <tr>
          <td valign="top" class="innertext2a"> <p>&nbsp;</p></td>
          <td valign="top" class="innertext2a"><p>
            {{page.body}}
          </p>
          </td>
        </tr>
        <tr>
          <td height="30" valign="top" class="innertext2a">&nbsp;</td>
          <td valign="top" class="innertext2a">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="left" valign="top" >&nbsp;</td>
        </tr>
      </table> </td>
    <td height="19" align="right" valign="top"><table width="217" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="20">&nbsp;</td>
          <td height="20">&nbsp;</td>
          <td height="20">&nbsp;</td>
        </tr>
        <tr>
          <td width="19" height="102">&nbsp;</td>
          <td width="170"><img src="templates/3.1/images/malet.jpg" width="170" height="113"></td>
          <td width="28">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="center">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td height="35" align="right" class="lefttext">
            <p><font color="#A13F14" size="2" face="Arial, Helvetica, sans-serif"><strong><br>
            Contact us<br>
                </strong></font><br>
                <span class="innertext2a">
                  Phone: {{website.phone|format_phone}}<br />
                  Fax: {{website.fax|format_phone}}<br />
                  Email: <span class="leftlink">{{website.email}}</span>
                </span>
            </p>
            <p class="innertext2a">
              {{website.address}}<br />
              {{website.city}} {{website.state}} {{website.zip}}
            </p>
            {% if website.socialMedia.avvo  %}
              <div style="margin:5px 0px;">
                <a href="{{website.socialMedia.avvo}}" id="avvo_badge" title="View my profile on Avvo"><img src="templates/base/images/avvo_badge.jpg" alt="View my profile on Avvo" title="View my profile on Avvo" /></a>
              </div>
            {% endif %}
          </td>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="54" colspan="2" align="right" class="t01"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="10" colspan="4"></td>
        </tr>
      <tr>
        <td width="4%">&nbsp;</td>
        <td width="61%" class="t01">{{website.firmName}}</td>
        <td width="32%">	<div align="right">
          {% for loop_page in website.footerMenu %}
            <a href="{{loop_page.url}}" class="innertext2">{{loop_page.linkName}}</a>
            {% if not loop.last %}
            <font color="grey"> &nbsp;|&nbsp; </font>
            {% endif %}
          {% endfor %}
		</div>	</td>
        <td width="3%"></td>
      </tr>
      <tr>
        <td height="10"></td>
        <td height="10" class="esq_link_text">
          <a href="http://www.esqsites123.com/">Legal Web Design</a> by EsqSites123.com </td>
        <td height="10" colspan="2"></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>