<div id="contact">
  
  <h3>Contact Us</h3>

  <p class="company">{{website.firmName|break}}</p>
  <p class="address">{{website.address}}</p>
  <p class="address2">{{website.city}}, {{website.state}} {{website.zip}}</p>
  {% if website.phone %}
    <p class="phone"><label>Phone:</label> {{website.phone|format_phone}}</p>
  {% endif %}
  {% if website.fax %}
    <p class="fax"><label>Fax:</label> {{website.fax|format_phone}}</p>
  {% endif %}
  {% if website.email %}
    <p class="email"><a href="mailto:{{website.email}}">{{website.email}}</a></p>
  {% endif %}

</div>