<!-- 1.3 twig -->
<html>
<head>
  {% block title none|include_title %}
  {{none|include_http_metas}}
  {{none|include_metas}}
  <link href="templates/1.3/css/css.css" rel="stylesheet" type="text/css">
  <link href="templates/base/css/base.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#CACACA" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="650" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="98" colspan="4" valign="bottom">
      <table width="700" border="0" cellpadding="0" cellspacing="0" background="templates/1.3/images/background_gray_fade.jpg">
        <tr>
          <td width="20" align="right" valign="top"><div align="left"></div></td>
          <td width="473" valign="bottom"><span class="innertext2">
              {{website.address}}<br />
              {{website.city}}<br />
              {{website.state}} {{website.zip}}
            </span></td>
          <td width="207" valign="middle" class="innertext2b">
          Phone: {{website.phone|format_phone}}<br />
          Fax: {{website.fax|format_phone}}<br />
          Email: {{website.email}}
          </td>
        </tr>
		  <tr>
          <td width="20" height="50" align="right" valign="top"><div align="left"></div></td>
          <td width="473"><span class="titletext">{{website.firmName|break}}</span></td>
          <td width="207" valign="top">
            {% if website.socialMedia.avvo  %}
            <div style="margin:0px;margin-top:5px;">
              <a href="{{website.socialMedia.avvo}}" id="avvo_badge" title="View my profile on Avvo"><img src="templates/base/images/avvo_badge.jpg" alt="View my profile on Avvo" title="View my profile on Avvo" /></a>
            </div>
            {% endif %}
          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="9" colspan="4" bgcolor="#900903"><img src="templates/1.3/images/clear.gif" width="1" height="8"></td>
  </tr>
  <tr class="menubg">
    <td height="10" colspan="4">

	<table width="" border="0" cellpadding="8" cellspacing="0">
	{% for loop_page in website.mainMenu %}

	{# This is the highlighted menu tab #}
	{% if loop_page.url == page.url %}
      <td bgcolor="#900903" background="templates/1.3/images/menu_bg_rollover.jpg" align="center" valign="bottom" >
      <strong><a class="OnMenutext" href="{{loop_page.url}}">{{loop_page.linkName}}</a></strong>		</td>
    {% else %}
	{# These are the regular menu tabs #}
      <td bgcolor="" align="center" valign="bottom" >
      <strong><a class="menutext" href="{{loop_page.url}}">{{loop_page.linkName}}</a></strong>		</td>
    {% endif %}
    {% endfor %}
	</table>

    </td>
  </tr>
  <tr>
    <td width="44" rowspan="3" valign="top" bgcolor="#E7E7E7"> </td>
    <td width="14">&nbsp;</td>
    <td width="485" rowspan="4" valign="top"><font color="#13336F" size="4" face="Verdana, Arial, Helvetica, sans-serif">
      <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="18" valign="top">
            {{page.body}}
          </td>
        </tr>
    </table></font><img src="templates/1.3/images/clear.gif" width="1" height="2"></td>
    <td width="12" height="251">&nbsp;</td>
  </tr>
  <tr>
    <td width="14" height="19">&nbsp;</td>
    <td height="19">&nbsp;</td>
  </tr>
  <tr>
    <td width="14" height="2"><img src="templates/1.3/images/clear.gif" width="1" height="2"></td>
    <td ><img src="templates/1.3/images/clear.gif" width="1" height="2"></td>
  </tr>
  <tr>
    <td width="44" valign="bottom" bgcolor="#E7E7E7">	</td>
    <td width="14" height="193">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="34" bgcolor="#E7E7E7">&nbsp;</td>
    <td height="34">&nbsp;</td>
    <td height="34" colspan="2" align="right" class="titletext"><div align="right" style="padding-right:50px">{{website.phone|format_phone}}</div>
    <div align="right"></div><div align="right"></div></td>
  </tr>
  <tr class="bottom">
    <td height="34"><img src="templates/1.3/images/citcle_bottom.jpg" width="39" height="24"></td>
    <td height="34">&nbsp;</td>
    <td height="34" colspan="2" align="right" class="t01"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="46%"><span class="OnMenutext"><a href="http://www.esqsites123.com" class="OnMenutext" style="text-decoration:underline">Web Sites for Lawyers</a> by esqsites123.com </span></td>
        <td width="54%"><div align="right">
            {% for loop_page in website.footerMenu %}
              <a href="{{loop_page.url}}" class="OnMenutext">{{loop_page.linkName}}</a>
              {% if not loop.last %}
              <font color="white"> &nbsp;&nbsp;|&nbsp;&nbsp; </font>
              {% endif %}
            {% endfor %}
          </div></td>
      </tr>
    </table><table width="100%" border="0" cellspacing="0" cellpadding="0">
    </table></td>
  </tr>
</table>
</body>
</html>